/*this is great practice */
body {
    text-align: center;
    background-color: #392559;
    
    font-family: 'Gothic A1';
}

td {
    text-align: left;
    padding: 20px 10px 20px 0px;
}

tr {
    border-bottom: 1px solid #ff8282;
    font-weight: 500;
}

table {
    margin-left: auto;
    margin-right: auto;
    color: #ff8282;
    font-size: 25px;
    line-height: 1.4;
    width: 37%;
    border-collapse: collapse;
    
}

p {
    color: #ff8282;
}

#neon_blue {
    color: #00F0FF;
}

#header {
    width: 43%;
    padding-top: 14%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    line-height: 1.6;
    font-weight: 600;
}

.divider {
    color: #ff8282;
    width: 45%;
    margin: 160px auto;
    

}

#aboutme {
    font-size: 75px;
    font-weight: bold;
}

#myinterests {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}

#interests {
    width: 43%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    line-height: 1.6;
    font-weight: 400;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 60%;
    margin: auto auto;
}

ul li {
    margin: 0 auto;
}

svg {
    stroke: none;
    fill: #ff8282;
    transition: fill 300ms ease-in;
}

svg:hover {
    fill: #00F0FF;
}

#specialSVG {
    fill: none;
    stroke: #ff8282;
    transition: stroke 300ms ease-in;
}

#specialSVG:hover {
    stroke: #00F0FF;
}

a {
    text-decoration: none;
    display: inline-block;
}